body {
    margin: 0;
    background: #23252c;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.card {
    width: 320px;
    background: #1a1b21;
    overflow: hidden;
    border-radius: 12px;
    color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.card-image {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.name {
    padding: 20px;
    text-align: center;
}

.name h1 {
    margin: 10px 0 5px;
    font-size: 25px;
}

.name > h3 {
    margin: 0;
    color:yellowgreen;
    font-weight: 400;
    font-size: 14px;
}

.name > p {
    font-size: 12px;
    color: #dcdcdc;
    margin-bottom: 0px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    width: 36%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 300;
    margin-left: 10px;
    margin-right: 10px;
}

.email {
    background: white;
    color: black;
}

.linkedin {
    background: #5093e2;
    color: white;
}

.about {
    text-align: left;
    margin-bottom: 15px;
    margin-left: 35px;
    margin-right: 35px;
}

.about h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.about p {
    font-size: 11px;
    line-height: 1.5;
    color: #dcdcdc;
}

.footer {
    background: #161619;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    font-size: 20px;
}